@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply bg-gray-50 dark:bg-gray-900 dark:text-white;
}

nav {
	@apply bg-gray-100 dark:bg-gray-800;
}

footer {
	border-top: 1px solid rgba(229, 231, 235);
	@apply flex items-center justify-center h-16 text-gray-200 dark:text-gray-900;
}

@layer utilities {
	.nav-link {
		color: #000;
		padding: 0.5rem 0.75rem;
		border-radius: 0.375rem;
		font-size: 0.875rem;
		line-height: 1.25rem;
		font-weight: 500;
	}

	.nav-link:hover {
		color: rgba(75, 85, 99);
	}
	.nav-link-active {
		color: #fff;
		padding: 0.5rem 0.75rem;
		border-radius: 0.375rem;
		font-size: 0.875rem;
		line-height: 1.25rem;
		font-weight: 500;
		background-color: rgba(17, 24, 39);
	}

	@variants dark {
		.dark-nav-link {
			color: #d1d5db;
			padding: 0.5rem 0.75rem;
			border-radius: 0.375rem;
			font-size: 0.875rem;
			line-height: 1.25rem;
			font-weight: 500;
		}
		.dark-nav-link:hover {
			color: #ffffff;
			--tw-text-opacity: 1;
			color: rgba(255, 255, 255, var(--tw-text-opacity));
		}
		.dark-nav-link-active {
			color: #000;
			padding: 0.5rem 0.75rem;
			border-radius: 0.375rem;
			font-size: 0.875rem;
			line-height: 1.25rem;
			font-weight: 500;
			background-color: #d1d5db;
		}
	}
}
